* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  background: #505BDA; }

.logo img {
  width: 20%; }

.titulo img {
  width: 99%;
  padding-bottom: 10px;
  padding: 10px; }

footer div {
  color: black;
  font-size: 16px;
  max-width: 80%; }
  footer div img {
    width: 100px; }

/*Formulario*/
.fondoContacto {
  background-color: #505BDA;
  background-size: cover;
  padding: 0;
  margin: 0 !important; }

.flexForm {
  display: block;
  max-width: 80%; }

.col-md-8 {
  color: #505BDA;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px 15px 15px 15px;
  margin: 40px 0px 40px 0px; }

.btn {
  background-color: #1A2849;
  border: none;
  color: #505BDA; }

.btn:hover {
  background-color: #181717; }

.contactanos {
  text-align: center; }

/* fin formulario*/
.footer__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: #505BDA;
  padding: 10px; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #505bda;
  justify-content: center; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.edit__font {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 0px;
  background: #505BDA;
  color: #fff;
  align-items: center; }
  .edit__font h4 {
    font-size: 30px; }
  .edit__font img {
    width: 99%;
    border-radius: 10px 10px 10px 10px; }

/* tragos style*/
.estilo__tragos {
  padding: 15px;
  color: yellow; }
  .estilo__tragos div h4 {
    color: #fff; }
    .estilo__tragos div h4:hover {
      color: black; }
  .estilo__tragos div img {
    width: 99%;
    border-radius: 10px 10px 10px 10px; }

/* hace tu pedido*/
.flex__list {
  background: #505BDA;
  padding-top: 10px;
  padding-left: 10px; }
  .flex__list div {
    width: auto; }

/* Burbujas*/
.burbuja {
  border-radius: 50%;
  background: #fff;
  opacity: .3;
  position: absolute;
  bottom: -150;
  left: 5%;
  animation: burbujas 3s linear infinite; }

.burbuja:nth-child(1) {
  width: 60px;
  height: 60px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s; }

.burbuja:nth-child(2) {
  width: 80px;
  height: 80px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 7s; }

.burbuja:nth-child(3) {
  width: 80px;
  height: 80px;
  left: 55%;
  animation-duration: 3s; }

.burbuja:nth-child(4) {
  width: 40px;
  height: 40px;
  left: 75%;
  animation-duration: 3s;
  animation-delay: 5s; }

.burbuja:nth-child(5) {
  width: 60px;
  height: 60px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 3s; }

.burbuja:nth-child(6) {
  width: 40px;
  height: 40px;
  left: 20%;
  animation-duration: 3s;
  animation-delay: 4s; }

.burbuja:nth-child(7) {
  width: 60px;
  height: 60px;
  left: 85%;
  animation-duration: 3s;
  animation-delay: 4s; }

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0; }
  50% {
    opacity: 0.4; }
  100% {
    bottom: 100vh;
    opacity: 0; } }

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #505BDA; }

.banner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 99%; }

.banner_title h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-left: 20px; }

.banner_title .hacetupedido {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background: #1A2849;
  padding: 20px; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #505BDA;
  padding: 10px; }
  .center img {
    width: 99%;
    border-radius: 50px 50px 50px 50px; }
